<p *ngIf="!contacts"><em>Loading...</em></p>
<div *ngIf="contacts">

    <h1 class="pull-left">Contacts</h1>
    <a [routerLink]="['/add-contact']" class="btn btn-primary pull-right padding-top">
        Add Contact
    </a>


    <div class='clearfix'></div>
    <p><input (keyup)="onKey($event)" placeholder="Search" class="form-control"></p>



    <table class='table' *ngIf="contacts?.length > 0">
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>
                    <a [routerLink]="['/contact']" [queryParams]="{ id: contact.contactReferenceId }">
                        {{ contact.firstName }} {{ contact.lastName }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="contacts?.length == 0">
        <p>No Contacts found</p>
    </div>


</div>


